@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");
@font-face {
  font-family: cervanttis;
  src: url("../font/Cervanttis.otf");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
}
/* Navigation Bar */
.navbar {
  background-color: rgba(3, 1, 24, 1);
  width: 100vw;
}
.navbar-brand #logo {
  width: 60px;
}
.navbar .nav-item a {
  font-size: 20px;
  color: white !important;
}
.navbar .nav-item a:hover {
  color: rgba(248, 248, 248, 0.623) !important;
}
.navbar .nav-item .resume {
  padding: 8px 10px 8px 10px;
  color: white !important;
}
/* Header */
#header::before {
  content: "";
  position: fixed;
  background: url("../img/background.png") top right no-repeat;
  background-size: cover;
  left: 0;
  right: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}
#header h1 {
  font-size: 7vh;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  text-align: center;
}
#header #name {
  font-family: cervanttis;
  padding: 30px;
}
#header #profilepic {
  height: 60vh;
}
#header {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
}
#header h1 a,
#header h1 a:hover {
  color: #fff;
  line-height: 1;
  display: inline-block;
  text-decoration: none;
}
.title-text p span {
  font-size: 4vh;
  color: white;
  display: none;
  font-family: "Lexend Deca", sans-serif;
  text-align: center;
}

.title-text p span.slide-in {
  display: block;
  animation: slideIn 0.5s ease;
}

.title-text p span.slide-out {
  animation: slideOut 0.5s ease;
}
#header .contact ul {
  display: inline-flex;
  justify-content: center;
}
#header .contact ul li {
  list-style-type: none;
}
#header .contact ul li i {
  font-size: 5vh;
  padding: 20px;
  color: white;
}
#header .contact ul li i:hover {
  text-shadow: #2d60e2 0 0 5px;
}

@keyframes slideIn {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes slideOut {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}
@media all and (max-width: 1200px) {
  #header h1 {
    margin-top: 500px;
  }
}
/* Title */
.aboutme,
.project,
.technical,
.soft,
.lang {
  padding: 5px;
}
.aboutme .aboutme-title,
.project .project-title {
  text-align: center;
  position: relative;
  margin-top: 90px;
  border-bottom: 5px aqua solid;
}
.technical .technical-title,
.soft .soft-title,
.lang .lang-title {
  text-align: center;
  position: relative;
  border-bottom: 5px aqua solid;
}
.aboutme .aboutme-title h2,
.project .project-title h2,
.technical .technical-title h2,
.soft .soft-title h2,
.lang .lang-title h2 {
  color: rgb(255, 255, 255);
  font-size: 7vh;
}
/* About Me */
.aboutme p {
  font-size: 2.5vh;
  color: white;
}
.aboutme .about,
.technical .technical,
.soft .soft,
.lang .lang {
  background-color: rgba(3, 1, 24, 0.95);
  padding: 20px;
}
.aboutme .about {
  text-align: justify;
}
.technical .technical h3,
.soft .soft h3,
.lang .lang h3 {
  color: white;
  font-size: 2.5vh;
  padding: 15px 0 5px 0;
  text-align: left;
}
.technical .technical ul li,
.soft .soft ul li,
.lang .lang ul li {
  color: rgba(255, 255, 255, 0.726);
  font-size: 2.2vh;
}
@media all and (max-width: 990px) {
  .technical .technical ul li {
    display: inline-block;
    margin: 5px;
    text-align: center;
  }
}
/* Project */
.project,
.project li {
  color: white;
}
.project .link {
  display: flex;
}
.project .link i {
  font-size: 5vh;
}
.project .card-title {
  font-size: 3vh;
}
.project .card-text {
  font-size: 2.5vh;
}
.project .link .demo a {
  font-size: 2vh;
}
.project .link .demo:hover {
  background-color: rgb(122, 2, 2);
}
.project .link a {
  padding: 0 10px 0 10px;
  text-decoration: none;
  color: white;
}
.project .link button:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}
.project .card-body,
.project .list-group li {
  background-color: rgba(3, 1, 24, 0.95);
  font-size: 1.8vh;
}
/* Footer */
footer {
  background-color: rgba(3, 1, 24, 1);
}
footer p {
  color: white;
  font-size: 3vh;
}
footer .social-icons {
  display: inline-flex;
  justify-content: center;
}
footer .social-icons li {
  list-style-type: none;
}
footer .social-icons li i {
  font-size: 3vh;
  padding: 0 10px;
  color: white;
}
footer .social-icons li i:hover {
  text-shadow: #2d60e2 0 0 5px;
}
